@model GPHMewsApp.Models.Domain.PatientViewModel
@{
}
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GPHMewsApp.styles.css" asp-append-version="true" />
<header>
    <nav class="navbar navbar-dark bg-dark sticky-top">

        <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="PatientViewModel" asp-action="PatientViewModelIndex">GPHMewsApp</a>
            <a asp-area-"" asp-controller="Home" asp-action="Index">Logout</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Browse</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <li class="nav-item">
                            
                            <a class="nav-link" asp-area="" asp-controller="Patient" asp-action="PatientIndex">Patients Page</a>
                            <a class="nav-link" asp-area="" asp-controller="PatientViewModel" asp-action="AllAlerts">Alerts Page</a>
                            <a class="nav-link" href="#">Alert Settings</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
</head>
<style>
    .navbar-custom {
        background-color: #0d0c4e;
    }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
            color: #000000;
        }

            .navbar-custom .navbar-brand:hover,
            .navbar-custom .navbar-nav .nav-link:hover {
                color: #000000;
            }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .square {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: #e9e9e9;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .label {
        text-align: left;
        font-weight: bold;
        margin: 5px 0;
    }

    .score {
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
    }

    div {
        margin-bottom: 15px;
        padding: 4px 12px;
    }

    .danger {
        background-color: #ffdddd;
        border-left: 6px solid #f44336;
    }

    .success {
        background-color: #ddffdd;
        border-left: 6px solid #04AA6D;
    }

    .info {
        background-color: #e7f3fe;
        border-left: 6px solid #2196F3;
    }


    .warning {
        background-color: #ffffcc;
        border-left: 6px solid #ffeb3b;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }


</style>

<h1>Patient Data</h1>
<div class="row">
    <div class="column">
        <table class="table">
            <tr>
                <th>Name:</th>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <th>Birth Date:</th>
                <td>@Model.BirthDate</td>
            </tr>
            <tr>
                <th>Clinician Id: </th>
                <td>@Model.ClinicianId</td>
            </tr>
            <tr>
                <th>Room&Bed Number: </th>
                <td>@Model.RoomNumber, @Model.BedNumber</td>
            </tr>
            <tr>
                <th>Admitted Date: </th>
                <td>@Model.DateAdmitted</td>
            </tr>
            <tr>
                <th>Admitted By: </th>
                <td>@Model.AdmittedBy</td>
            </tr>
            <tr>
                <th>Visit Reason: </th>
                <td>@Model.VisitReason</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table class="table">
            <tr>
                <th>Vitals</th>
                <td>            </td>
            </tr>
            <tr>
                <th>Systolic BP:</th>
                <td>@Model.SystolicBP</td>
            </tr>
            <tr>
                <th>Heart Rate: </th>
                <td>@Model.HeartRate</td>
            </tr>
            <tr>
                <th>Respiratory Rate: </th>
                <td>@Model.RespRate</td>
            </tr>
            <tr>
                <th>Temperature: </th>
                <td>@Model.Temperature</td>
            </tr>
            <tr>
                <th>AVPU status: </th>
                <td>@Model.AVPU</td>
            </tr>
            
        </table>
    </div>


</div>


</html>