@model GPHMewsApp.Models.Domain.PatientViewModel
@{
}

<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GPHMewsApp.styles.css" asp-append-version="true" />
<header>
    <nav class="navbar navbar-dark bg-dark sticky-top">

        <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="PatientViewModel" asp-action="PatientViewModelIndex">GPHMewsApp</a>
            <a asp-area-"" asp-controller="Home" asp-action="Index">Logout</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Browse</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <li class="nav-item">
                            
                            <a class="nav-link" asp-area="" asp-controller="PatientViewModel" asp-action="PatientIndex">Patients Page</a>
                            <a class="nav-link" asp-area="" asp-controller="PatientViewModel" asp-action="AllAlerts">Alerts Page</a>
                                <a class="nav-link" asp-area="" asp-controller="PatientViewModel" asp-action="AlertSettings">Alert Settings</a>
                        </li>
                        
                    </ul>
                   
                </div>
            </div>
        </div>
    </nav>
</header>
</head>
<style>
    .navbar-custom {
        background-color: #0d0c4e;
    }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
            color: #000000;
        }

            .navbar-custom .navbar-brand:hover,
            .navbar-custom .navbar-nav .nav-link:hover {
                color: #000000;
            }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .square {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: #e9e9e9;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .label {
        text-align: left;
        font-weight: bold;
        margin: 5px 0;
    }

    .score {
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
    }

    div {
        margin-bottom: 15px;
        padding: 4px 12px;
    }

    .danger {
        background-color: #ffdddd;
        border-left: 6px solid #f44336;
    }

    .success {
        background-color: #ddffdd;
        border-left: 6px solid #04AA6D;
    }

    .info {
        background-color: #e7f3fe;
        border-left: 6px solid #2196F3;
    }


    .warning {
        background-color: #ffffcc;
        border-left: 6px solid #ffeb3b;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }


</style>

<h1>Patient Data</h1>
<div class="row">
    <div class="column">
        <table class="table">
            <tr>
                <th>PatientID:</th>
                <td>@Model.PatientId</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <th>Birth Date:</th>
                <td>@Model.BirthDate</td>
            </tr>
            <tr>
                <th>Clinician Id: </th>
                <td>@Model.ClinicianId</td>
            </tr>
            <tr>
                <th>Room&Bed Number: </th>
                <td>@Model.RoomNumber, @Model.BedNumber</td>
            </tr>
            <tr>
                <th>Admitted Date: </th>
                <td>@Model.DateAdmitted</td>
            </tr>
            <tr>
                <th>Admitted By: </th>
                <td>@Model.AdmittedBy</td>
            </tr>
            <tr>
                <th>Visit Reason: </th>
                <td>@Model.VisitReason</td>
            </tr>
        </table>
    </div>
    <div class="column">
        @for(int i = 0; i<=0; i++)
        {
            int Score = 0;
            <table class="table">
                <tr>
                    <th>Vitals</th>
                    <td>            </td>
                </tr>
                <tr>
                    <th>Systolic BP:</th>

                    @if (Model.SystolicBP <= 70)
                    {
                        Score = Score + 3;
                        <td class="danger">@Model.SystolicBP</td>
                    }
                    else if (Model.SystolicBP >= 71 && Model.SystolicBP <= 80)
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.SystolicBP</td>
                    }
                    else if (Model.SystolicBP >= 81 && Model.SystolicBP <= 100)
                    {
                        Score = Score + 1;
                        <td class="warning">@Model.SystolicBP</td>
                    }
                    else if (Model.SystolicBP >= 101 && Model.SystolicBP <= 199)
                    {
                        Score = Score + 0;
                        <td class="success">@Model.SystolicBP</td>
                    }
                    else if (Model.SystolicBP >= 200)
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.SystolicBP</td>
                    }


                </tr>
                <tr>
                    <th>Heart Rate: </th>
                    @if (Model.HeartRate <= 40)
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.HeartRate</td>
                    }
                    else if (Model.HeartRate >= 41 && Model.HeartRate <= 50)
                    {
                        Score = Score + 1;
                        <td class="warning">@Model.HeartRate</td>
                    }
                    else if (Model.HeartRate >= 51 && Model.HeartRate <= 100)
                    {
                        Score = Score + 0;
                        <td class="success">@Model.HeartRate</td>
                    }
                    else if (Model.HeartRate >= 101 && Model.HeartRate <= 110)
                    {
                        Score = Score + 1;
                        <td class="warning">@Model.HeartRate</td>
                    }
                    else if (Model.HeartRate >= 111 && Model.HeartRate <= 129)
                    {
                        Score = Score + 2;
                        <td class="warning">@Model.HeartRate</td>
                    }
                    else if (Model.HeartRate >= 130)
                    {
                        Score = Score + 3;
                        <td class="danger">@Model.HeartRate</td>
                    }
                    
                </tr>
                <tr>
                    <th>Respiratory Rate: </th>
                    
                    @if (Model.RespRate <= 8) 
                    { 
                        Score = Score+2;
                        <td class="danger">@Model.RespRate</td>
                    }
                    else if (Model.RespRate >= 9 && Model.RespRate <= 14)
                    {
                        Score = Score + 0;
                        <td class="success">@Model.RespRate</td>
                    }
                    else if (Model.RespRate >= 15 && Model.RespRate <= 20)
                    {
                        Score = Score + 1;
                        <td class="warning">@Model.RespRate</td>
                    }
                    else if (Model.RespRate >= 21 && Model.RespRate <= 29)
                    {
                        Score = Score + 2;
                        <td class="warning">@Model.RespRate</td>
                    }
                    else if (Model.RespRate >= 30)
                    {
                        Score = Score + 3;
                        <td class="danger">@Model.RespRate</td>
                    }
                    
                </tr>
                <tr>
                    <th>Temperature: </th>
                    @if (Decimal.Compare(Model.Temperature, 94) < 0)
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.Temperature</td>
                    }
                    else if (Decimal.Compare(Model.Temperature, 95) > 0 && Decimal.Compare(Model.Temperature, (decimal)(101.1)) < 0)
                    {
                        Score = Score + 0;
                        <td class="success">@Model.Temperature</td>
                    }
                    else if (Decimal.Compare(Model.Temperature, (decimal)(101.3)) > 0)
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.Temperature</td>
                    }
                    
                </tr>
                <tr>
                    <th>AVPU status: </th>
                    @if ((Model.AVPU).Equals("Alert"))
                    {
                        Score = Score + 0;
                        <td class="success">@Model.AVPU</td>
                    }
                    else if ((Model.AVPU).Equals("Verbal"))
                    {
                        Score = Score + 1;
                        <td class="warning">@Model.AVPU</td>
                    }
                    else if ((Model.AVPU).Equals("Pain"))
                    {
                        Score = Score + 2;
                        <td class="danger">@Model.AVPU</td>
                    }
                    else if ((Model.AVPU).Equals("Unresponsive"))
                    {
                        Score = Score + 3;
                        <td class="danger">@Model.AVPU</td>
                    }
                   
                </tr>
                <tr>
                    <td></td>
                </tr>
                
                    
                    @if (Score <= 2)
                    {
                    <tr class="success">
                        <th>SCORE: </th>
                        <td class="success"><b>@Score</b></td>
                    </tr>
                    } else if (Score >= 3 && Score <= 6)
                    {
                        <tr class="warning">
                        <th>SCORE: </th>
                        <td class="warning"><b>@Score</b></td>
                        </tr>
                    } else if (Score >= 7)
                    {
                        <tr class ="danger">
                        <th>SCORE: </th>
                        <td class="danger"><b>@Score</b></td>
                        </tr>
                        
                    }
                   

            </table>
        }
        
    </div>


</div>


</html>